body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 0.5s ease-in-out;
}
.container{
    background-color: grey;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: padding 0.5s ease-in-out;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
h1{
    margin-bottom: 20px;
    color: black;
}
.search-container{
    margin-bottom: 20px;
    margin-left: 15px;
    display: flex;
    gap: 1px;
}
#search-input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 215px;
}
#search-btn{
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}
.weather-container{
    display: none;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}
.weather-container.visible{
    display: block;
}
.hidden{
    display: none;
}
.weather-container > div{
    margin-bottom: 10px;
}
.error-message{
    color: #ff0000;
}